---
---

@import "{{ site.theme }}";
a:hover, a:focus {
  text-decoration: underline;
  font-weight:unset;
}

header img {
  max-height: 50vh;
}

@media print, screen and (max-width: 960px) {
  header {
    text-align: center;
    padding-right: 0;
  }
  header img {
    max-height: 75px;
  }
}
