---
---

@import "{{ site.theme }}";
a:hover, a:focus {
  text-decoration: underline;
  font-weight:unset;
}

header img {
  max-height: 30vh;
}

@media print, screen and (max-width: 960px) {
  header {
    text-align: center;
    padding-right: 0;
  }
  header img {
    max-height: 75px;
  }
}

header {
  text-align: center;
}

header p {
  margin-bottom: 0.25em;
}

.flex_nav_container a {
  display: block;
}

@media print, screen and (max-width: 960px) {
  .flex_nav_container {
    display: flex;
    flex-flow row wrap;
    justify-content: center;
  }
  
  .flex_nav_container a {
    padding-right: 10px;
		padding-left: 10px;
/* 		border-left: 1px solid #eee; */
/* 		border-right: 1px solid #eee; */
  }
}
